.container {

    display: flex;
    justify-content: center;
    flex-direction: column;

    .form mat-form-field {
        width: 100%;
    }
    @media (min-width: 545px) {
        flex-direction: row;

       
    }
}