.containt{
    display: flex;
    justify-content: center;
}
mat-checkbox{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    width: 80%;
  }

  mat-icon{
    padding: 15px;
    cursor: pointer;
  }